<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./public/style.css">
</head>
<body>
    <div class="Login">
        <h1>Login</h1>
        <form method="POST" action="send">
            <input class="txt_field" type="email" placeholder="Email_ID" name="email" required />
            <button id="reqbtn" type=" submit">Request OTP</button>
        </form>
    </div>
</body>
{{!--
<script>
    function tranffer() {
        location.href = "otp.html"
    }
</script> --}}

</html>