<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp</title>
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>

    <div class="otp_txtfield">
        {{!-- <div class="div1"> --}}
            <form action="/verify" method="POST">
                <input class="txt_field" type="text" name="otp" placeholder="enter 6 digit otp" required>
                <button id="reqbtn1" type="submit">Verify OTP</button>
            </form>
        {{!-- </div>
        <div class="div1"> --}}
            <form method="POST" action="resend">
                <button id="reqbtn1" type="submit">Resend OTP</button>
            </form>
        {{!-- </div> --}}
    </div>

</body>

</html>